.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

.stable-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
}
