.stable-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px;
}
